 <section class="register-box">
  <div class='card'>
    <div class='card-body'>
      <h2 class="card-title" *ngIf='!success'>Regístrate ahora</h2>
      <div *ngIf='!success'>
        <form [formGroup]="formSignup" (ngSubmit)="f.form.valid && signup()" #f="ngForm" class="form-material" novalidate>
          <div class="form-group">
            <input formControlName="name" name="name" class="form-control" type="text" placeholder="Nombre" required>
            <span class="invalid" *ngIf="(f.submitted && !formSignup.controls.name.valid) || (formSignup.controls.name.dirty && !formSignup.controls.name.valid)">Se requiere un nombre</span>            
          </div>
          <div class="form-group">
            <input formControlName="email" name="email" class="form-control" type="email" placeholder="Email" required>
            <span class="invalid" *ngIf="(f.submitted && !formSignup.controls.email.valid) || (formSignup.controls.email.dirty && !formSignup.controls.email.valid)">Se requiere un email</span>            
          </div>

          <div class="form-group">
            <input formControlName="password1" name="password1" class="form-control" type="password" placeholder="Contraseña" required>
            <span class="invalid" *ngIf="(f.submitted && !formSignup.controls.password1.valid) || (formSignup.controls.password1.dirty && !formSignup.controls.password1.valid)">Contraseña incorrecta</span>
          </div>

          <div class="form-group">
            <input formControlName="password2" name="password2" class="form-control" type="password" placeholder="Confirmar contraseña"  required>
            <span class="invalid" *ngIf="(f.submitted && !formSignup.controls.password2.valid) || (formSignup.controls.password2.dirty && !formSignup.controls.password2.valid)">Contraseña incorrecta</span>
            <span class="invalid" *ngIf="f.submitted && formSignup.controls.password2.valid && formSignup.controls.password2.value!=formSignup.controls.password1.value" >
              Las contraseñas no son iguales
            </span>
          </div>

           <div class="message-container" *ngIf="f.submitted && (formSignup.controls.password1.invalid || formSignup.controls.password2.invalid)">
            <div class="alert alert-danger"></div>
          </div>

          <div class="message-container" *ngIf="errors">
            <div class="alert alert-danger">Error en el registro</div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="terms" formControlName="terms" id="checkbox-signup">
              <label class="form-check-label" for="checkbox-signup"></label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="mailing" formControlName="mailing" id="checkbox-mailing">
              <label class="form-check-label" for="checkbox-mailing">
                quiero recibir....
              </label>
            </div>
          </div>

          <button class='btn btn-primary btn-action text-uppercase' color="primary">Registrarse</button>

          <div class="">
            <p>¿Tienes una cuenta? <a (click)="ingresarAhora($event)" style="cursor: pointer;">Ingresa ahora</a></p>
          </div>
        </form>
      </div>
      <p *ngIf='success'>
        Registrarme
      </p>
    </div>
  </div>
</section>
