<section class="login-box">
  <div class='card'>
    <div class="card-body">
      <h2 class="card-title">Accede a tu cuenta</h2>
   
       <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="form-material" novalidate>

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required>
          <span class='invalid' *ngIf="f.submitted && !email.valid">Email obligatorio</span>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="password"  placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
          <span class='invalid' *ngIf="f.submitted && !password.valid">Password obligatorio</span>
        </div>

        <div class="message-container" *ngIf="error">
          <div class='invalid' class="alert alert-danger">más errores</div>
        </div>

        <a id='recover-pass' routerLink='/user/reset'><i class="fa fa-lock"></i> ¿Olvidaste tu contraseña?</a>

        <button class='btn btn-primary btn-action text-uppercase'>ACCEDER</button>        

      </form>


      <p>¿No estás registrado? <a (click)="crearCuenta($event)" style="cursor: pointer;">crear cuenta</a></p>

    </div>

  </div>
</section>
